@media only screen and (min-width:200px) and (max-width:575px) {
    main {
        margin-top: 7.2rem;
    }

    .mblNavBtn {
        display: none;
    }

    .searchArea input {
        padding: 3px;
    }

    nav ul {
        padding-bottom: 0px !important;
    }

    section {
        padding: 12px;
    }

    .fa-magnifying-glass {
        font-size: 1rem;
    }


    .footer-div {
        display: none;
    }

    .container {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

    #flashSale {
        padding: 10px;
    }

    .productItems {
        margin-bottom: 32px;
    }
    #flashSale {
    margin-top: 3rem;
}

}