:root {
    --primaryColor: #f85606;
    --buttonBg: #ffe1d2;
    --backgrondColor:#f5f5f5;
    --light:rgb(255, 255, 255);
    --itemsBg:#ffc9b8b5;
}
body{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    background: var(--backgrondColor);
    font-family: arial, sans-serif;
}
header{
    background: var(--primaryColor);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    margin: 0px;
    padding: 10px 0px 20px 0px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
}
.logo{
    width: 10rem;
    height: auto;
    background-image: url("logo.png");
    background-size: cover;
}
.searchArea{
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--buttonBg);
    width: 100%;
}
.searchArea input{
    width: 93%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 3px 0px 0px 3px;
}
.fa-magnifying-glass{
    font-size: 1.3rem;
    color: var(--primaryColor);
}
/* --------header end ---------- */
/* main start */

main{
    margin-top: 73.5px;
}
.largeImage{
    max-width: 100%;
    height: auto;
    height: auto;

    background-size: cover;
}
.addsImage{
    width: 100%;
}
/* //////flash sell section  */
#Flash-Sale{
    margin-top: 5rem;
}
.topic{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
.topic p{
    margin: 0px;
}
.topic button{
    border: 1px solid var(--primaryColor);
    border-radius: 3px;
    background-color: var(--light);
    padding: 10px 20px;
    color: var(--primaryColor);
}
.productItems{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--itemsBg);
    border-radius: 5px;
}
.itemImg{
    width: 260px;
    height: 260px;
    border-radius: 5px;
}
.itemsDiv p{
    margin: 0px;
    margin-top: 10px;
}